.footer {
    text-align: center;
    background-color: #011926;
    color: #ffff;

    &__details {
        padding: 10rem;

        span {
            font-size: 3rem;
            background-color: #007BB8;
            font-style: italic;
            padding: 1.5rem;
            line-height: 3;
            font-family: 'Merriweather', serif;
        }
    }

    &__nav {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    &__item {
        position: relative;
        margin: 0 2rem;
    }

    &__link:link,
    &__link:visited {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem;
    }
}