.header {
    height: 100vh;
    border-bottom: solid 1px lightgrey;

    &__name {
        font-size: 8rem;
        line-height: 1;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 5rem;
    }

    &__box {
        text-align: center;
        padding: 15rem 0 25rem 35%;
    }

    &__nav {
        display: flex;
        justify-content: space-evenly;
        margin: 0 20rem;
        list-style: none;

        &--link {
            text-decoration: none;
            font-size: 1.5rem;
            color: white;
        }
    }
}