.header {
    height: 100vh;
    border-bottom: solid 1px lightgrey;

    &__name {
        font-size: 8rem;
        line-height: 1;
        font-family: 'Merriweather', serif;
        letter-spacing: 5px;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 5rem;
        font-family: 'Mulish', sans-serif;
    }

    &__box {
        text-align: center;
        padding: 15rem 0 25rem 35%;

        @include respond(phone ) { // width < 600
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 50% 0;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-evenly;
        margin: 0 20rem;
        list-style: none;
        font-family: 'Mulish', sans-serif;

        @include respond(tab-port) { // width < 900
            margin: 0;
        }

        &--link {
            text-decoration: none;
            font-size: 1.5rem;
            color: white;
            border-bottom: 1px solid;
            display: inline-block;
        }
    }
}