.nav {
    text-align: center;
    height: 100%;

    @include respond(tab-land) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;

        span {
            padding: 3rem;
            background-color: #007BB8;
            font-style: italic;
            font-family: 'Merriweather', serif;
        }
    }

    &__list {
        list-style: none;
        font-family: 'Mulish', sans-serif;

        @include respond(tab-land) {
            display: flex;
        }
    }

    &__item {
        margin-bottom: .5rem;
        position: relative;
    }

    &__item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: #007BB8;
        transform: scaleY(0);
        transition: transform .2s,
                    width .4s cubic-bezier(1,0,0,1) .2s,
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before {
        transform: scaleY(1);
        width: 100%;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 100;
    }
}