.projects {
    width: 50vw;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 0 3rem #ffff;
    background-image: linear-gradient(to right, rgba(#011926,0.8), rgba(#011926,0.8));
    margin: 8rem 0;

    @include respond(phone) { // width < 600
        width: 100%;
        text-align: center;
    }

    &--name {
        font-size: 6rem;
        font-family: 'Merriweather', serif;
    }

    &--box {
        display: flex;
        flex-direction: column;
    }
}

.card {
    display: flex;
    padding: 8rem 0;
    align-items: center;

    @include respond(tab-port) {
        flex-direction: column;
    }

    &__picture {
        height: 80%;
        width: 50%;

        img {
            height: 100%;
            width: 100%;
            filter: brightness(.7);
            transition: all .5s;
        }

        img:hover {
            filter: none;
        }

    }

    &__info {
        text-align: center;
        margin-left: 2rem;
        width: 50%;
    }

    &__heading {
        font-size: 3rem;
        font-family: 'Merriweather', serif;
    }

    &__links {
        font-family: 'Mulish', sans-serif;
        display: flex;
        justify-content: space-evenly;
        margin-top: 3rem;
    }

    &__description {
        font-size: 1.5rem;
    }
}