.projects {
    width: 50vw;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: 0 3rem 5rem #007BB8;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.8));

    &--name {
        font-size: 6rem;
    }

    &--box {
        display: flex;
        flex-direction: column;
    }
}

.card {
    display: flex;
    padding: 8rem 0;

    &__picture {
        height: 30rem;
        width: 100%;
        
        background-image: url(./../../img/divedeep.png);
        background-size: cover;
        background-position: 50% 50%;
    }

    &__info {
        text-align: center;
        margin: 0 2rem;
        padding: 2rem 5rem;
    }

    &__heading {
        font-size: 3rem;
    }

    &__tech {
        font-size: 2rem;
    }

    &__list {
        list-style: none;

        li {
            margin-top: 0.25rem;
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
    }
}