.container {
    height: 100%;

    @include respond(tab-land) {
        display: flex;
        flex-direction: column;
    }
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 12%;
    background-color: #011926;

    @include respond(tab-land) {
        width: 100%;
        height: 15%;
        display: flex;
        justify-content: center;
    }
}

.content {
    display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 88%;
    overflow: auto;
    color: white;
    scroll-behavior: smooth;

    @include respond(tab-land) {
        width: 100%;
    }
}

.content:before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
    background-image: linear-gradient(to right bottom, rgba(#011926, 0.6), rgba(#011926, 0.6)), url(./../img/R1-03220-cropped.jpg);
    background-size: cover;
    background-position: 50% 50%;

    @include respond(phone) { 
        background-position: 40% 50%;
    }
}

.main-content {
    min-height: 100%;
}

.section--about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px lightgrey;
}

.section--skills {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px lightgrey;
}

.section--projects {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px lightgrey;
}