.container {
    height: 100%;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 12%;
    background-color: aquamarine;
}

.content {
    display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 88%;
	overflow: auto;
}

.main-content {
    min-height: 100%;
}

.section--about {
    min-height: 90vh;
}

.section--skills {
    min-height: 90vh;
}

.section--projects {
    min-height: 90vh;;
}